<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/Style.css">
    <title>recherche</title>
</head>
<body>
    <header>
		<h1>Résultats de recherche YouTube</h1>
		<form method="get" action="/search">
			<label for="query">Rechercher des vidéos : </label>
			<input type="text" name="q" id="query" required>
			<button type="submit">Rechercher</button>
		</form>
        <nav>
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Tendances</a></li>
                <li><a href="#">Abonnements</a></li>
                <li><a href="#">Bibliothèque</a></li>
                <li><a href="#">Historique</a></li>
            </ul>
            <ul>
                <li><a href="#">Se connecter</a></li>
                <li><a href="#">Paramètres</a></li>
                <li><a href="#">Aide</a></li>
                <li><a href="#">Envoyer des commentaires</a></li>
            </ul>
        </nav>
	</header>
	<main>
		{{if .VideoList}}
		<h2>Résultats de recherche pour "{{.Query}}"</h2>
		<ul>
			{{range $videoID, $title := .VideoList}}
			<li>
				<h3><a href="/select?videoID={{$videoID}}">{{$title}}</a></h3>
				<div class="video-container">
					<iframe width="560" height="315" src="https://www.youtube.com/embed/{{$videoID}}" frameborder="0" allowfullscreen></iframe>
				</div>
			</li>
			{{end}}
		</ul>
		{{else}}
		<h2>Aucun résultat de recherche.</h2>
		{{end}}
	</main>
    
</body>
</html>